body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*
header
*/

.header {
  width: 100%;
  color: #2f1d16;
  text-align: right;
  font-family: Georgia, serif;
}

#logo {
  /*display: inline-flex;*/
  width: 100px;
  float: left;
}

hr {
  width: 100%;
  margin-bottom: 15px;
}

/*
picture
*/

#picture {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
projects
*/

.grid {
  text-align: center;
  color: #197d01;
  font-family: Georgia, serif;
}

.featured {
  width: 50%;
}

.projects {
  display: inline-flex;
  float: left;
  flex-wrap: wrap;
}

.atc, .pam, .tbd {
  border: 3px solid;
  border-color: #2f1d16;
  border-radius: 5px;
  display: block;
}

/*
footer
*/

footer {
  text-align: center;
  font-family: Georgia, serif;
  color: #2f1d16;
}

/*
***media queries***
*/
